{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/carrito.css' %}">

{% block content %}
    <div class="productos-carrito">
        <h1>Productos en carrito</h1>
        <a class="producto-carrito" href="">
            <img src="../img/billetera.png" alt="ejemplo">
            <h2>Nombre Producto</h2>
        </a>
    </div>

    <div class="checkout">
        <div class="card-check">
            <h3>Total <span>$100</span></h3>
        </div>
    </div>
{% endblock content %}