*{
    box-sizing: border-box;
}

h2{
    font-family: 'Sora';
    color: var(--primario);
    padding: 40px 0px 5px 20px;
}

table{
    background-color: var(--sexto);
    padding: 10px 10px;
    width: 100%;
    border-collapse: collapse;

}
table th{
    text-align: left;
    padding: 15px 0px;
    color: var(--primario);
    font-family: 'Sora';
    border: 1px solid var(--primario);
    text-align: center;
    
}

table tr{
    border: 1px solid var(--primario);
    text-align: center;
}

table td p{
    text-overflow: clip;
    height: 50px;
    overflow-y: scroll;
}

table td p::-webkit-scrollbar {

    display: none;   /* width of the entire scrollbar */
  }
  
  table td p::-webkit-scrollbar-track {
    background: var(--quinto);
    border-radius: 20px;        /* color of the tracking area */
  }
  
  table td p::-webkit-scrollbar-thumb {
    background-color: var(--primario);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--primario);  /* creates padding around scroll thumb */
  }


table td{

    font-family: 'Cantarell';
    color: var(--primario);
    padding: 5px; 
    border: 1px solid var(--cuarto);
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    width: 100%;
}
img{
    width: 20px;
    height: 20px;
    filter: drop-shadow(0px 0px 12px var(--primario));
}

.img-estampado{
    width:70px;
    height: 70px;
    filter: drop-shadow(0px 0px 0px var(--primario));
}


.button-section{
    background-color: var(--primario);
    color: var(--secundario);
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins';
}


.container-productos{
    min-height: 100vh;
    background-color: var(--quinto);
}

.formulario-agregar{
    min-height: 100vh;
    background-color: var(--quinto);
}

label{
    color: var(--primario);
    font-family: 'Cantarell';
}

.formulario-agregar form{
    padding: 10px 10px;
    
}


.formulario-agregar form p{

    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primario);
    padding: 10px 20px;
}
.formulario-agregar form p label{
    width: 40%;
}

.formulario-agregar form p input,.formulario-agregar form p select{
    width: 60%;
    outline: none;
    padding: 5px;
    border: 1px solid var(--secundario);
}

.formulario-agregar form p textarea{
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    max-height: 90px;
    min-height: 80px;
    outline: none;
    padding: 5px;
    border: 1px solid var(--secundario);
}

#id_destacado{
    width: 20px;
}

.formulario-agregar form h3{
    font-family: 'Poppins';
    color: var(--primario);
}

.formulario-agregar form input{
    width: 60%;
    outline: none;
    padding: 5px;
    border: 1px solid var(--secundario);
}

.formulario-agregar form button.btn.btn-danger{
    display: block;
    width: 20%;
}

.formulario-agregar form div.sec-img{
    outline: none;
    padding: 20px;
    border-bottom: 1px solid var(--primario);
}

.formulario-agregar form .sec-img .input-imagenes{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}

.formulario-agregar form .sec-img p{
    font-family: 'Cantarell';
    color: var(--primario);
    border: none;
}

.formulario-agregar form .sec-img input, #id_imagen_producto{
    border: 1px solid var(--primario);
    color: var(--primario);
}

.formulario-agregar form button.btn.btn-danger{
    font-family: 'Cantarell';
    color: var(--primario);
    background-color: var(--secundario);
    font-size: 16px;
    margin-left: 10px;
}

.formulario-agregar form .sec-opc{
    padding: 20px;
}

.formulario-agregar form .sec-opc p{
    font-family: 'Cantarell';
    color: var(--primario);
    border: none;
}
