*{
    box-sizing: border-box;
}


:root{
    --primario: #f69bd6;
    --secundario: rgb(255, 255, 255);
    --terciario: #262626;
    --cuarto: #bebfc000;
    --quinto: #6FD1E7;
}

main{
    width: 100%;
    display: flex;
    min-height: 100vh;
    padding: 20px 30px;
    justify-content: space-between;
}

.productos-carrito h1,.checkout h1{
    margin-bottom: 20px;
    font-family: 'Sora';
    width: 100%;
    text-align: center;
    color: var(--primario);
}


.productos-carrito{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.producto-carrito{
    display: flex;
    padding: 0px 25px 0px 25px ;
    gap: 20px;
    justify-content: space-between;
    box-shadow: 0px 0px 1px var(--terciario);
    text-decoration: none;
    color: black;
    max-height: 150px;
    min-height: 150px;
    margin-bottom: 35px;
}

.producto-carrito h2{
    font-family: 'Sora';
    font-weight: 200px;
}

.producto-carrito h3{
    font-family: 'Cantarell';
}

.producto-carrito ul{
    font-family: 'Cantarell';
}

.productos-carrito img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.izq{
    display: flex;
    width: 70%;
    gap: 20px   ;
}

.detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalle ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 60px;
    list-style-type: none;
    padding-left: 10px;
}


.cantidades h4{
    font-family: 'Cantarell';
    font-weight: bold;
    color: var(--terciario);
}

#cant::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cantidades{
    display: flex;
    align-items: center;
    gap: 20px   ;
}

.cantidades button{
    background-color: #262626;
    color: white;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

.cantidad{
    border: none;
    outline: none;
    background-color: none  ;
    border-bottom: 1px solid var(--terciario);
    width: 30px;
    text-align: center;
    font-family: 'Cantarell';
}



.checkout{
    width: 25%;
    height: fit-content;
}

.card-check{
    border: 1px solid var(--terciario);
    padding: 5px;
    border-bottom: none;
}

.card-check h3{
    font-family: 'cantarell';
    display: flex;
    padding: 0px 7px;
    justify-content: space-between;
    border-top: 1px dotted var(--terciario);
}


.card-check ul{
    font-family: 'Cantarell';
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 5px 7px;
    align-items: center;
}

.card-check ul li{
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
}

.but-check{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Sora';
    background-color: var(--primario);
    border: 1px solid var(--terciario);
    border-top: none;
    outline: none;
    color: white;
}

.pagos{
    font-family: 'cantarell';
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--terciario) ;
    padding: 10px 2px;
}

.pagos label{
    display: flex;
    align-items: center;
    gap: 3px    ;
    justify-content: space-between;
    width: 45%;
}