main{
    padding: 20px 100px;
    min-height: 100vh;
}

h1.titulo{
    font-family: 'Sora';
    text-align: center;
    margin: 30px 0px 00px 0px;
    color: var(--primario);
}

p.subtitulo{
    text-align: center;
    margin: 0px 0px 30px 0px;
    font-family: 'Sora';
    color: var(--terciario);
}

.container_estampados{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    margin-bottom: 40px;
}
.container_estampado img{
    width: 225px;
    height: 225px;
}

p.nombre{
    position: absolute;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    width: 225px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'cantarell';
}

p.nombre:hover{
    font-size: 22px;
    background-color: rgba(61, 61, 61, 0.741);
}


@media (max-width : 700px) {
    main{
        padding: 20px 10px;
    }
}

@media (max-width : 700px) {
    main{
        padding: 20px 0px;
    }
    h1.titulo{
        font-size: 24px;
    }
    .subtitulo{
        font-size: 16px;
    }
}

@media (max-width : 250px) {
    main{
        padding: 20px 0px;
    }
    h1.titulo{
        font-size: 18px;
    }
    .subtitulo{
        font-size: 10px;
    } 

    div.container_estampa img{
        width: 160px;
        height: 160px;
    }
    p.nombre{
        width: 160px;
        height: 160px;
    } 
}