
*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}


:root{
    --primario: #f69bd6;
    --secundario: rgb(255, 255, 255);
    --terciario: #262626;
    --cuarto: #bebfc000;
    --quinto: #6FD1E7;
}

header{
    background-color: var(--primario);
    display: flex;
    padding: 15px 30px;
    align-items: center;
    justify-content: space-between;
    color: var(--secundario);
    z-index: 400;
}



#svg{
    width: 30%;
}



header img {
    width: 80px;
    height: 80px;
    box-shadow: 0PX 0px 1px var(--primario);
    z-index: 500;
}

header svg{
    width: 30px;
    height: 30px;
    fill: var(--secundario);
    box-shadow: 0PX 0px 1px var(--primario);
    z-index: 500;
    display: flex;
    align-items: center;
}

header img{
    width: 35px;
    height: 30px;
    z-index: 500;
}

header h1 a{
    text-decoration: none;
    color: var(--secundario);
    font-family: 'Nunito';
    font-size: 36px;
    width: 100%;
    text-align: center;
    z-index: 500;
}

header a{
    text-decoration: none;
    color: var(--secundario);
}

.carrito{
    width: 30%;
    display: flex;
    justify-content: end;
    z-index: 500;
    color: white;
}



.circulo{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito";
    background-color: red;
    border-radius: 50%;
    font-size: 10px;
    z-index: 500;
    color: white;
    text-decoration: none;
}


footer{
    background-color: var(--primario);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer img{
    width: 30px;
    height: 30px;
}

footer h6{
    color: white;
    font-size: 24px;
    font-family: 'Sora', sans-serif;
}

footer a{
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Sora';
    display: flex;
    align-items: center;

}

footer div.contacto{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 15px    ;
}

.aside-menu{
    background-color: var(--primario);
    display: flex;
    padding: 10px 20px;
    position: absolute;
    z-index: 100;
    width: 100%;
    display: none;
}

.aside-menu ul{
    font-family: 'Nunito';
    font-size: 18px;
    color: var(--secundario);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 15px;
    list-style:disc !important; 
}

.aside-menu ul li a {
    color: white;
    text-decoration: none;
}

.aside-menu ul li details summary {
    list-style: none;
    z-index: 200;
    cursor: pointer; /* cambia el cursor del puntero */
}

.aside-menu ul li details summary {
    list-style: none;
    z-index: 200;
    cursor: pointer; /* cambia el cursor del puntero */
}

.aside-menu ul li details p {
    margin-bottom: 4px;

}



@media (max-width:530px) {
    #svg{
        width: 20%;
    }
    header h1{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    a.carrito{
        width: 20%;
    }
    header{
        padding: 15px 12px;
    }
    header h1 a{
        font-size: 26px;
        width: 100%;
    }

    footer a{
        font-size: 16px;
    }
}