* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primario: #f69bd6;
    --secundario: rgb(255, 255, 255);
    --terciario: #262626;
    --cuarto: #bebfc000;
    --quinto: #6FD1E7;
}

main {
    width: 95%;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

section.bienvenida {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    border-bottom: 2px dotted var(--primario);
    padding-bottom: 20px;
}

h2 {
    font-size: 22px;
    width: 100%;
    font-family: 'Sora', sans-serif;
    font-weight: bolder;
    color: var(--primario);
    text-align: center;
}

.bienvenida h2 {
    margin-top: 25px;

}

.buscador-form{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buscador {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-bottom: 20px;

}

.buscador input,
.buscador button {
    height: 100%;
    box-shadow: 0px 0px 1px var(--primario);
}

#bienvenida-buscador {
    width: 69%;
    padding: 0px 10px;
    outline: none;
    border: none;
    font-size: 18px;
}

#bienvenida-encontrar {
    width: 30%;
    outline: none;
    background-color: var(--primario);
    border: none;
    color: white;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: bold;
    box-sizing: content-box;
    box-shadow: 0px 0px 1px var(--primario);
}

select.categorias-select {
    display: flex;
    width: 80%;
    height: 50px;
    font-family: 'Nunito';
    color: var(--secundario);
    background-color: var(--primario);
    padding: 2px 10px;
    border: 1px solid #f69bd6;
    outline: none;
    font-size: 20px;
}

select.categorias-select::-ms-expand {
    outline: none;
}

.productos-destacados {
    margin-top: 24px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.producto-destacado {
    text-decoration: none;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cuarto);
    font-family: 'Cantarell';

}

.producto-destacado-info {
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;

}

.producto-destacado img {
    width: 180px;
    height: 90%;
    margin-right: 10px;
}

.producto-destacado h5 {
    font-size: 18px;
    color: var(--terciario);
    font-family: 'Cantarell';
    letter-spacing: 2px;

}

.producto-destacado p.descripcion {
    margin-top: 2px;
    font-size: 14px;
    font-family: 'Cantarell';
    color: var(--terciario);
    max-width: 90%;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

p.precios {
    margin-top: 5px;
    text-align: left;
    color: var(--terciario);
    font-family: 'Cantarell';
}


.producto-destacado button {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Cantarell';
    color: var(--quinto);
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: 5px;
}

section.todosProd {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}


section.todosProd {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.producto {
    text-decoration: none;
    flex: 1;
    width: fit-content;
    min-width: 88%;
    max-width: 88%;
    min-height: 290px;
    max-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
    margin-bottom: 15px;
    box-shadow: 0px 0px 4px var(--primario);
}

.producto img {
    overflow: visible !important;
    object-fit: contain;
    vertical-align: auto;
    box-sizing: content-box;
    overflow-clip-margin: content-box;
    max-height: 150px;
    min-height: 150px;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    font-family: "Cantarell";
    text-align: center;
    margin-top: 15px;
    color: var(--primario);
    width: 100%;
}

.card h5 {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    -webkit-line-clamp: 2;
    color: var(--primario);
}

.card button {
    font-family: "Cantarell";
    font-weight: 900;
    font-size: 16px;
    background-color: transparent;
    color: var(--quinto);
    outline: none;
    border: none;
    margin-top: 10px;
}

@media (min-width:225px) {
    .producto-destacado h5 {
        font-size: 14px;
    }

    .producto {
        min-width: 80%;
        max-width: 80%;
        margin-bottom: 15px;
        min-height: 300px;
    }

    .producto img {
        max-height: 170px;
        min-height: 170px;
    }
    
}

@media (min-width:425px) {

    .producto-destacado h5 {
        font-size: 14px;
    }


    .producto-destacado img {
        width: 230px;
        height: 100%;
    }


    .producto {
        min-width: 80%;
        max-width: 80%;
        margin-bottom: 15px;
        min-height: 270px;
    }

    .producto img {
        max-height: 170px;
        min-height: 170px;
    }

    h2 {
        font-size: 20px;
    }
    
}




@media (min-width:530px) {
    .producto {
        min-width: 48%;
        max-width: 48%;
    }
    .producto-destacado img {
        width: 250px;
        height: 110%;
    }
}



@media (min-width:768px) {
    .producto {
        min-width: 35%;
        max-width: 35%;
    }
    .producto-destacado img {
        width: 250px;
        height: 110%;
    }
}

@media (min-width:840px) {

    .producto-destacado img {
        width: 250px;
        height: 110%;
    }


    .producto img {
        max-height: 170px;
        min-height: 150px;
    }

    .producto {
        max-height: 270px;
        min-height: 270px;
        min-width: 40%;
        max-width: 40%;
    }

}



@media (min-width:870px) {

    main {
        padding: 20px 20px;
    }

    .productos-destacados {
        flex-direction: row;
        margin-bottom: 50px;

    }

    section.bienvenida {
        border-bottom: 5px dotted var(--primario);
    }

    .producto {
        min-width: 22%;
        max-width: 22%;
        min-height: 290px;
        max-height: 290px;
    }

    .producto img {
        max-height: 160px;
        min-height: 160px;
        width: 80%;
    }

    .producto-destacado {
        gap: 16px;
    }

    .producto-destacado img {
        width: 250px;
        height: 110%;
    }
}

@media (min-width:1670px) {

    main {
        padding: 20px 20px;
    }

    .productos-destacados {
        flex-direction: row;
        margin-bottom: 50px;

    }

    section.bienvenida {
        border-bottom: 5px dotted var(--primario);
    }

    .producto {
        min-width: 22%;
        max-width: 22%;
        min-height: 350px;
        max-height: 350px;
        font-size: 22px;
    }

    .card h5 {
        font-size: 25px !important;
    }

    .producto img {
        max-height: 190px;
        min-height: 190px;
        width: 80%;
    }

    .producto-destacado {
        gap: 16px;
        width: 40%  ;
    }

    .producto-destacado img {
        width: 250px;
        height: 110%;
    }

    .descripcion::-webkit-scrollbar {
        display: none;
    }
}
