*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primario: #04264c;
    --secundario: white;
    --terciario: #000000e1;
    --cuarto: #336fb3;
    --quinto: #636363;
    --sexto: #d1d0d0;

    --primario: white;
    --secundario: #04264c;
    --terciario: #000000e1;
    --cuarto: #bbbaba;
    --quinto: #336fb3; 
    --sexto: #336fb3;

}
    


body,html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secundario);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: var(--secundario);
    border-bottom: 1px solid var(--primario);
    margin-bottom: 40px;
}

header h1{
    font-family: 'Poppins', sans-serif;
    color: var(--primario);
}

.header-div{
    display: flex;
    width: fit-content;
    gap: 30px   ;
    align-items: center;
    justify-content: space-between;
}

.header-div a{
    text-decoration: none;
    color: var(--cuarto);
    font-family: 'Poppins';
    text-align: center;
}

.header-div form button{
    background-color: transparent;
    color: var(--cuarto);
    font-family: 'Poppins';
    text-align: center;
    outline: none;
    border: none;
    font-size: 16px;
}
.header-div form button:hover{
    cursor:pointer;
}


/* 720px */
@media (max-width:720px) {
    header h1{
        font-size: 26px;
    }
}
/* 620px */
@media (max-width:720px) {
    header h1{
        font-size: 20px;
    }
    .header-div{
        gap: 10px;
    }
    .header-div a{
        font-size: 14px;
    }
}
/* 500px */
@media (max-width:500px) {
    main{
        display: none;
    }
    header{
        flex-direction: column;
        padding: 10px 10px 10px 10px;
    }
    header h1{
        text-align: center;
    }
    .header-div{
        gap: 20px;
    }
}
/* 190px */
@media (max-width:190px) {
    header{
        flex-direction: column;
        padding: 10px 10px 10px 10px;
    }
    header h1{
        text-align: center;
        font-size: 18px;
    }
    .header-div{
        gap: 20px;
    }
    .header-div a{
        font-size: 12px;
    }
}


main{
    background-color: var(--secundario);
    min-height: 70vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 70vh;
}

aside{
    width: 20%;
    margin-top: 50px    ;
}

aside ul li{
    min-width: fit-content;
    padding-bottom: 4px;
    width: 70%;
    color: var(--primario);
    font-family: 'Sora';
    border-bottom: 1px solid var(--quinto);
    transition: 0.6s;
}
aside ul li a{
    font-family: 'Sora';
    color: var(--quinto);
    text-decoration: none;
    width: 100%;
    display: block;
    transition: 0.6s;
}



.no-elegido:hover{
    transform: translateX(20px);
    border-bottom: 1px solid var(--primario);
}
.no-elegido a:hover{
    color: var(--primario);
}
.elegido{
    font-size: 18px;
    margin-left: 20px;
    border-bottom: 1px solid var(--primario);
}
.elegido a{
    color: var(--primario);
}
aside ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    list-style-type: none;
    
}
article{
    padding: 10px;
    padding-right: 25px;
    width: 80%;
    height: 100%;
}
section{
    overflow-y: scroll;
    min-height: fit-content;
    max-height: 65vh;
}
section::-webkit-scrollbar {
    width: 12px;
    height: 12px;    
 /* width of the entire scrollbar */
}
section::-webkit-scrollbar-track {
    height: 17px;  
    background: var(--sexto);
    border-radius: 0px;   
         /* color of the tracking area */
} 
section::-webkit-scrollbar-thumb {
    background-color: var(--secundario);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--primario);  /* creates padding around scroll thumb */
}

@media (max-width: 1050px){
    .container-productos{
        min-height: 50vh  !important  ;
    }
    main{
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: fit-content;
        margin-bottom: 30vh;
        min-height: 140vh;
    }
    header{
        margin-bottom: 0px;
    }
    aside{
        margin: 30px 0px;
        width: 100%;
        display: flex;

        align-items: center;
        justify-content: center;
    }
    aside ul{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
        width: 90%;
        height: fit-content;
    }
    aside ul li{
        width: 22%;
        margin-top: 5px;    
    }
    .elegido{
        font-size: 16px;
        margin-left: 0px;
        border-bottom: 1px solid var(--primario);
    }
    .no-elegido:hover{
        transform: translateX(10px);
        border-bottom: 1px solid var(--primario);
    }
    aside ul li a{
        font-size: 14px;
    }
    article{
        width: 90%;
        padding-right: 5px;
    }
    section{
        width: 100%;
        min-height: fit-content;
        max-height: 80vh;
        font-size: 12px;
    }
     .container-productos{
        width: fit-content;
        min-width: 100%;
    }

} 

@media (max-width:400px){
    aside ul li{
        width: 48%;
    }
    section{
        max-height: 45vh;
    }
}