{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Time</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Nunito:wght@700&family=Sora:wght@700&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
    </style>
</head>

<body>
    {% include 'header.html' %}

    <main>
        <section class="bienvenida">
            <!-- Filtro y buscador -->
            <form method="get" action="">

                <!-- Buscador -->
                <div class="buscador">
                    <input id="bienvenida-buscador" type="text" name="buscar" placeholder="¿Qué buscas?" value="{{ queryset }}">
                    <button id= "bienvenida-encontrar" type="submit">Buscar</button>
                </div>

                <!-- Filtro -->
                <select name="categoria" id="categoria" class="categorias-select" onchange="this.form.submit()">
                    <option value="" {% if not categoria_seleccionada %}selected{% endif %}>Todas las categorías</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id|stringformat:"s" }}" {% if categoria_seleccionada == categoria.id|stringformat:"s" %}selected{% endif %}>{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </form>
            
            <!-- Productos destacados -->
            <h2>¡ Productos más comprados !</h2>
            <div class="productos-destacados">
                <div class="producto-destacado">
                    <img src="{% static 'img/billetera.png' %}" alt="">
                    <div price="$9.000" class="producto-destacado-info">
                        <h5>PRODUCTO <br>DESTACADO</h5>
                        <p class="descripcion">Descripción o nombre del producto colocado, en lo posible que contenga un
                            maximo</p>
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="producto-destacado">
                    <img src="{% static 'img/neceser.png' %}" alt="">
                    <div class="producto-destacado-info">
                        <h5>PRODUCTO <br>DESTACADO</h5>
                        <p class="descripcion">Descripción o nombre del producto colocado, en lo posible que contenga un
                            maximo</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Productos generales -->
        <section class="todosProd">
            {% for producto in object_list %}
                <div class="producto">
                    <img src="{{ producto.imagen_producto.url }}" alt="Portada">
                    <div class="card">
                        <h5>{{ producto.nombre }}</h5>
                        <p>{{ producto.precio_formateado }}</p>
                        <button>Añadir</button>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

    {% include 'footer.html' %}
    <script src="{% static 'js/menuAside.js' %}"></script>
</body>

</html>