{% load static %}

{% include 'head.html' %}

    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <footer id="footer">
        <h6>Contacto</h6>
        <div class="contacto">
                <a target="_blank" href="https://api.whatsapp.com/send/?phone=1557482810"><img src="{% static 'img/whats.png' %}"> +54 15 5748-2810</a>
                <a target="_blank" href="https://www.instagram.com/my_time2810/"><img src="{% static 'img/inst.png' %}" alt=""> My_Time2810</a>
                <a href="mailto:correo@ejemplo.com"><img style="width: 30px; height: 30px;" src="{% static 'img/mail.png' %}" alt="">nosenose@gmail.com</a>
        </div>
    </footer>