{% extends 'base.html' %}

{% load static %}

{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Time</title>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Nunito:wght@700&family=Sora:wght@700&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
    </style>
</head>
{% endblock head %}

{% block content %}

    <section class="bienvenida">

        <h2 style="margin-bottom: 45px; font-size: 30px;">¡ Bienvenido a la tienda de MY TIME !</h2>
        <!-- Filtro y buscador -->
        <form class="buscador-form" method="get" action="">

            <!-- Buscador -->
            <div class="buscador">
                <input id="bienvenida-buscador" type="text" name="buscar" placeholder="¿Qué buscas?" value="{{ queryset }}">
                <button id= "bienvenida-encontrar" type="submit">Buscar</button>
            </div>

            <!-- Filtro -->
            <select name="categoria" id="categoria" class="categorias-select" onchange="this.form.submit()">
                <option value="" {% if not categoria_seleccionada %}selected{% endif %}>Todas las categorías</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id|stringformat:"s" }}" {% if categoria_seleccionada == categoria.id|stringformat:"s" %}selected{% endif %}>{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </form>
        
        <!-- Productos destacados -->
        {% if productos_destacados %}
        <h2>¡Productos destacados!</h2>
        <div class="productos-destacados">
            {% for producto_destacado in productos_destacados %}
                <a class="producto-destacado" href="{% url 'productos:producto_detail' producto_destacado.id %}">
                        <img src="{{ producto_destacado.imagen_producto.url }}" alt="{{ producto_destacado.nombre }}">
                        <div class="producto-destacado-info">
                            <h5>{{ producto_destacado.nombre }}</h5>
                            <p class="descripcion">{{ producto_destacado.descripcion }}</p>
                            <p class="precios">${{ producto_destacado.precio }}</p>
                            <button>Comprar</button>
                        </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    </section>

    <!-- Productos generales -->
    <section class="todosProd">
        {% for producto in object_list %}
                <a href="{% url 'productos:producto_detail' producto.id %}" class="producto">
                    <img src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre }}">
                    <div class="card">
                        <h5>{{ producto.nombre }}</h5>
                        <p>{{ producto.precio_formateado }}</p>
                        <button>Añadir</button>
                    </div>
                </a>
            
        {% endfor %}
    </section>

{% endblock content%}