{% extends 'base.html' %}

{% load static %}

{% block message %}
        <div class="MensajeCarrito" id="MODAL">
            <p>El producto fue agregado al carrito</p>
        </div>
{% endblock message %}

{% block content %}
    <div class="container">
        <ul class="slider">
            <li id="slide1">
                <img id="prodImg" src="{{ producto.imagen_producto.url }}" alt="PRODUCTO" />
            </li>
        </ul>
        <ul id="getImg" class="menu">
            <li>
                <a><img class="posibleImg" src="{{ producto.imagen_producto.url }}" alt=""></a>
            </li>
            {% for imagen in producto.imagenes.all %}
                <li>
                    <a><img class="posibleImg" src="{{ imagen.imagenes.url }}" alt=""></a>
                </li>
            {% endfor %}
        </ul> 
    </div>
    <div class="info">
        <h2 id="nameProd">
            {{ producto.nombre }}
        </h2>
        <p class="precio">
            {{ producto.precio_formateado }}
        </p>
        <h3>Descripción</h3>
        <p class="descripcion">{{ producto.descripcion }}</p>

        <h3>Opciones</h3>
        <form class="opciones" id="formulario">
            <input name="producto" type="text" value="Billetera (xEjemplo)" style="display: none;">
            <div class="cantidades">
                <h4>Cantidad</h4>
                <button id="restarCant">-</button>
                <input name="Cantidad" id="cant" class="cantidad" value="1" type="number" max="10" min="1">
                <button id="sumarCant">+</button>
            </div>
            <div class="opcion">
                <h4>Color</h4>
                <div class="especifico">
                    <label>
                        Rojo
                        <input value="Rojo" required type="radio" name="Color">
                    </label>
                    <label>
                        Azul
                        <input value="Azul" type="radio" name="Color">
                    </label>
                    <label>
                        Amarillo
                        <input value="Amarillo" type="radio" name="Color">
                    </label>
                    <label>
                        Verde
                        <input value="Verde" type="radio" name="Color">
                    </label>
                    <label>
                        Naranja
                        <input value="Naranja" type="radio" name="Color">
                    </label>
                </div>
            </div>
            
            <a href="{% url 'carrito:Add' producto.id %}">
                <input id="enviar" class="enviar" type="submit" value="Añadir al carrito">
            </a>
        </form>
    </div>

<script src="{% static 'js/detail.js' %}"></script>

{% endblock content %}
