{% extends 'base.html' %}

{% load static %}

{% block content %}
        <div class="MensajeCarrito" id="MODAL">
            <p>El producto fue agregado al carrito</p>
        </div>
    <div class="container">
        <ul class="slider">
            <li id="slide1">
                <img id="prodImg" src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre }}" />
            </li>
        </ul>
        <ul id="getImg" class="menu">
            <li>
                <a><img class="posibleImg" src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre }}"></a>
            </li>
            {% for imagen in producto.imagenes.all %}
                <li>
                    <a><img class="posibleImg" src="{{ imagen.imagenes.url }}" alt="{{ producto.nombre }}"></a>
                </li>
            {% endfor %}
        </ul> 
    </div>
    <form id="formulario" class="info">
        <h2 id="nameProd">
            {{ producto.nombre }}
        </h2>
        <p class="precio">
            {{ producto.precio_formateado }}
        </p>
        <h3>Descripción</h3>
        <p class="descripcion">{{ producto.descripcion }}</p>

        <div class="opciones" >
         <h3>Opciones</h3>
            <input name="producto" type="text" value="{{ producto.nombre }}" style="display: none;">
            <input name="precio" type="text" value="{{ producto.precio_formateado }}" style="display: none;">
            <div class="cantidades">
                <h4>Cantidad</h4>
                <button type="button" id="restarCant">-</button>
                <input name="Cantidad" id="cant" class="cantidad" value="1" type="number" max="10" min="1">
                <button type="button" id="sumarCant">+</button>
            </div>

            {% if opciones_disponibles %}
                <div class="opcion">
                    <h4>Modelo</h4>

                    {% for opcion in opciones %}
                        <div class="especifico">
                            <label>
                                {{ opcion.opciones }}
                                <input value="{{ opcion.opciones }}" required type="radio" name="Color">
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <a href="{% url 'carrito:Add' producto.id %}">
                <button id="enviar" class="enviar" type="submit" value="Añadir al carrito">
                    Añadir al carrito
                </button>
            </a>
        </div>
    </form>

<script src="{% static 'js/detail.js' %}"></script>

{% endblock content %}
