{% extends 'administracion.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/adm-categorias.css' %}">
<script>
    function redirect(){
            location.href= `{% url 'administracion:adm-categoria' %}`
    }
</script>
{% endblock head %}

{% block aside %}
<ul>
        <li class="no-elegido"><a href="{% url 'administracion:adm-usuario' %}">Usuarios</a></li>
        <li class="elegido"><a href="{% url 'administracion:adm-categoria' %}">Categorías</a></li>
        <li class="no-elegido"><a href="{% url 'administracion:adm-producto' %}">Productos</a></li>
        <li class="no-elegido"><a href="{% url 'administracion:adm-estampado' %}">Estampados</a></li>
</ul>
{% endblock aside %}

{% block content %}
<article>
    <section>
        <nav>

        </nav>
        <div class="formulario-agregar mostrar">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="btn-save" type="submit">Guardar</button>
            </form>
        </div>
    </section>
</article>
{% endblock content %}