{% extends 'baseAdm.html' %}

{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Panel de administación</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Nunito:wght@700&family=Sora:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
    </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    </head>
{% endblock head %}

{% block content %}
<div class="container">
    <img src="{% static 'img/LogoAltariaAzulSL.png' %}" alt="altaria">
    <h1>altaria</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Ingresar" class="button">
    </form>
</div>
{% endblock content %}