{% extends 'administracion.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/adm-productos.css' %}">
{% endblock head %}

{% block aside %}
<ul>
        <li class="no-elegido"><a href="{% url 'administracion:adm-usuario' %}">Usuarios</a></li>
        <li class="no-elegido"><a href="{% url 'administracion:adm-categoria' %}">Categorías</a></li>
        <li class="elegido"><a href="{% url 'administracion:adm-producto' %}">Productos</a></li>
        <li class="no-elegido"><a href="{% url 'administracion:adm-estampado' %}">Estampados</a></li>
</ul>
{% endblock aside %}


{% block content %}
<article>
        <nav>
                <button class="button-section" id="lookProducto">Ver Productos</button>
                <button class="button-section" id="plusProducto">Añadir Producto</button>
        </nav>
        <section>
                <div id="productosVista" class="mostrar container-productos">
                        <table>
                                <tr>
                                        <th>Categoría</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Descripción</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                </tr>
                                {% for producto in productos %}
                                <tr data-categoria-id="{{ producto.id }}" class="producto">
                                        {% if producto.categoria == None %}
                                        <td>---</td>
                                        {% else %}
                                        <td>{{ producto.categoria }}</td>
                                        {% endif %}
                                        <td> {{ producto.nombre }}</td>
                                        <td class="editable" data-producto-id="{{ producto.id }}">
                                                <span>{{ producto.precio }}</span>
                                                <input type="text" class="edit-input" style="display: none;">
                                        </td>
                                        <td><p>
                                                {{ producto.descripcion }}
                                        </p></td>
                                        <td> 
                                                <a href="{% url 'administracion:edit-producto' producto.id %}">
                                                        <button style="cursor: pointer;"><img src="{% static 'img/editarICON.png' %}" alt="editar"></button> 
                                                </a>
                                        </td>
                                        <td>
                                                <form method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="eliminar_producto" value="{{ producto.id }}">
                                                        <button type="submit"style="cursor: pointer;" ><img src="{% static 'img/basuraICON.png' %}"></button>
                                                </form>
                                        </td>
                                </tr>
                                {% empty %}
                                <tr colspan="6">
                                        <td colspan="6">No hay productos</td>
                                </tr>
                                {% endfor %}
                        </table>
                </div>

                <!-- FORMULARIO  -->
                <div id="agregarForm" class="formulario-agregar">
                        <form method="post" enctype="multipart/form-data">
                                <h2>Añadir Producto</h2>
                                {% csrf_token %}
                                {{ producto_form.as_p }}
                                {{ imagen_formset.management_form }}
                                {{ opcion_formset.management_form }}

                                <div id="getInputImg" class="sec-img">

                                        <h3>Imágenes</h3>
                                        <p>Ingrese imagenes adicionales (Opcional)</p>
                                        {% for form in imagen_formset %}
                                        <div id="inputs-img-container">
                                                <div class="input-imagenes" name="{{ form.prefix }}">
                                                        {{ form.imagenes }}
                                                        <button type="button" id="{{ form.prefix }}" class="btn btn-danger"
                                                        >Eliminar</button>
                                                </div>
                                        </div>
                                        <button id="setInputImgBtn" class="btn btn-agregar">Añadir Imagen</button>
                                </div>

                                {% endfor %}
                                <div class="sec-opc">
                                        <h3>Opciones</h3>
                                        <p>Ingrese opciones para este producto (Opcional)</p>
                                        {% for form in opcion_formset %}
                                        <div id="inputs-opt-container">
                                                <div class="input-opciones" name="{{ form.prefix }}">
                                                        {{ form.opciones }}
                                                        <button type="button" id="{{ form.prefix }}" class="btn btn-danger">Eliminar</button>
                                                </div>
                                        </div>                                        
                                        <button id="setInputOptBtn"  class="btn btn-agregar">Añadir Opción</button>
                                </div> 
                                {% endfor %}
                                <button id="btn-save" name="crear_producto">Guardar</button>
                        </form>
                </div>
        </section>

        <!-- FORMULARIO DE EDICION DE PRECIO  -->
        <form id="producto_form" method="post" enctype="multipart/form-data" style="display: none;">
                {% csrf_token %}
                <input type="hidden" id="producto_id" name="producto_id" value="">
                <input type="hidden" id="nuevo_precio" name="nuevo_precio" value="">
        </form>
</article>
{% endblock content %}

{% block jscripts %}
        <script>
                document.addEventListener('DOMContentLoaded', function () {
                const editableCells = document.querySelectorAll('.editable');

                editableCells.forEach(cell => {
                        cell.addEventListener('dblclick', function () {
                        const span = cell.querySelector('span');
                        const input = cell.querySelector('input');
                        span.style.display = 'none';
                        input.style.display = 'block';
                        input.value = span.innerText.replace(/[^\d]/g, ''); // Solo permite números
                        input.focus();

                        // Set the product ID in the hidden input field when editing the price
                        const productoId = cell.getAttribute('data-producto-id');
                        document.querySelector('#producto_id').value = productoId;
                        });

                // Submit form when saving changes
                        cell.querySelector('input').addEventListener('keyup', function(event) {
                        if (event.key === 'Enter') {
                                const formData = new FormData();
                                formData.append('producto_id', document.querySelector('#producto_id').value);
                                formData.append('nuevo_precio', parseFloat(this.value).toFixed(0)); // Sin decimales
                                formData.append('modificar_precio', 'true');

                                fetch(window.location.href, {
                                method: 'POST',
                                body: formData,
                                headers: {
                                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                                }
                                })
                                .then(response => {
                                if (response.ok) {
                                window.location.reload(); // Refresh page after successful submission
                                }
                                });
                        }
                        });
                });
                });
                </script>


        <script src="{% static 'admin/js/producto-adm.js' %}"></script>
        <script src="{% static 'admin/js/img-opt.js' %}"></script>
{% endblock jscripts %}