{% extends 'administracion.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/adm-usuarios.css' %}">
{% endblock head %}

{% block aside %}
<ul>
        <li class="elegido"><a href="{% url 'administracion:adm-usuario' %}">Usuarios</a></li>
        <li class="no-elegido"><a href="{% url 'administracion:adm-categoria' %}">Categorías</a></li>
        <li class="no-elegido"><a href="{% url 'administracion:adm-producto' %}">Productos</a></li>
        <li class="no-elegido"><a href="{% url 'administracion:adm-estampado' %}">Estampados</a></li>
</ul>
{% endblock aside %}


{% block content %}

<article>

        <nav>
                <button class="button-section" id="lookProducto">Ver Usuarios</button>
                <button class="button-section" id="plusProducto">Añadir Usuario</button>
        </nav>

        <section>


                <table id="productosVista" class="mostrar container-productos">
                        <tr>
                                <th>Nombre</th>
                                <th>Editar</th>
                                {% if usuarios.count > 1  %}
                                        <th>Eliminar</th>
                                {% endif %}
                                
                        </tr>
                        {% for usuario in usuarios %}
                        <tr class="producto">
                                <td> {{ usuario.username }}</td>
                                <td>
                                        <a href="{% url 'administracion:edit-usuario' user.id %}">
                                                <button><img src="{% static 'img/editarICON.png' %}" alt="editar"></button>
                                        </a>
                                </td>
                                {% if usuarios.count > 1  %}
                                        <td>
                                                <form method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="eliminar_usuario" value="{{ usuario.id }}">
                                                        <button type="submit"><img src="{% static 'img/basuraICON.png' %}"></button>
                                                </form>
                                        </td>
                                {% endif %}
                        </tr>
                        {% empty %}
                        <p>No hay usuarios</p>
                        {% endfor %}
                </table>

                <!-- FORMULARIO -->
                <div id="agregarForm" class="formulario-agregar">
                        <form method="post">
                                {% csrf_token %}
                                {{ usuario_form.as_p }}
                                <button id="btn-save" type="submit" name="crear_usuario">Crear usuario</button>
                        </form>
                </div>
        </section>
</article>
{% endblock content %}

{% block jscripts %}
<script src="{% static 'admin/js/producto-adm.js' %}"></script>
{% endblock jscripts %}